canvas-app, .canvas-app {
	position: relative;
	height: 100%;
	margin: 0;
	overflow: hidden;

	--aside-width: 16em;
	--aside-height: 50%;
}

@media screen and (max-width: 750px) {
	canvas-app, .canvas-app {
		flex-direction: column-reverse;
	}

	aside {
		flex-basis: var(--aside-height) !important;
	}

	aside > div {
		width: 100% !important;
	}
}

canvas-app, .canvas-app {
	display: flex;
}

aside {
	position: relative;
	flex-basis: var(--aside-width);
	transition: flex-basis .3s ease;
	overflow: hidden;
}

main {
	position: relative;
	flex: 1;
}

aside > div {
	position: absolute;
	top: 0;
	right: 0;
	width: var(--aside-width);
	height: 100%;
	overflow: auto;

	padding: 1em 1.7em;
	box-sizing: border-box;
}

main {
	display: flex;
    justify-content: center;
    align-items: center;
	overflow: hidden; /* center canvas and make sure it doesn't overflow */

	background-color: var(--backdrop);
	box-shadow: inset 0 0 1em #0001;
}

canvas {
	max-height: 80%;
	max-width: min(80%, 100% - 8em); /* leave some space for the floating buttons */
	background-color: white;
	box-shadow: 0 0 1em #0003;
}

#toggleInfoDialogButton {
	z-index: 2;
}

:root[data-open-info-dialog] #toggleInfoDialogButton > :first-child {
	display: none;
}

:root:not([data-open-info-dialog]) #toggleInfoDialogButton > :last-child {
	display: none;
}

canvas-app-info-dialog {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: var(--background);
	padding: 1em;
	box-sizing: border-box;

	opacity: 0;
	pointer-events: none;
	transition: opacity .1s ease;
}

canvas-app-info-dialog > article {
	max-width: 800px;
	margin: auto;
}

canvas-app-info-dialog > article > h2:first-child {
	width: calc(100% - 2em);
}

:root:not([data-open-settings]) aside {
	flex-basis: 0 !important;
}

:root[data-open-info-dialog] canvas-app-info-dialog {
	opacity: 1;
	pointer-events: all;
}