iframe {
	border: none;
	height: min(400px, calc(100vw - 2em));
	width: 100%;
}

#demoControls {
	text-align: center;
	line-height: 250%;
}

#demoControls > :not(:last-child) {
	margin-right: 1em;
}

#demoControls > [data-active] {
	background-color: var(--green);
}