.u-button {
	background-color: #222;
	color: white;
	transition: background-color 0.1s ease;
	cursor: pointer;

	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.u-button:hover {
	background-color: #444;
}



.u-checkbox {
	position: relative;
	cursor: pointer;
	box-sizing: border-box;

	user-select: none;
	-moz-user-select: none;
}
  
/* Hide input */
.u-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Center text vertically and give space for checkbox*/
.u-checkbox span {
	position: relative;

	display: inline-flex;
	align-items: center;
	height: var(--height,1.3em);

	padding-left: calc(var(--height,1.3em) + 0.5em);
}

/* Box */
.u-checkbox span::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	height: var(--height,1.3em);
	width: var(--height,1.3em);
	background-color: #222;
}
.u-checkbox:hover span::before {
	background-color: #282828;
}

/* Tick */
.u-checkbox span::after {
	content: "";
	position: absolute;

	display: block;
	left: calc(var(--height,1.3em) * 0.35);
	top: calc(var(--height,1.3em) * 0.25);
	
	width: calc(var(--height,1.3em) * 0.16);
	height: calc(var(--height,1.3em) * 0.32);

	border: solid white calc(var(--height,1.3em) * 0.12);
	border-left-width: 0;
	border-top-width: 0;
	transform: rotate(45deg);
}

/* Hide tick if not checked */
.u-checkbox input:not(:checked) ~ span::after {
	display: none;
}